.movies {
  padding: 0 70px;
  box-sizing: border-box;
}

@media screen and (max-width: 900px) {
  .movies {
    padding: 0 30px;
  }
}

/* @media screen and (max-width: 768px) {
  .movies {
    padding: 0 30px;
  }
} */

@media screen and (max-width: 425px) {
  .movies {
    padding: 0 10px;
  }
}
