.techs {
  background-color: #F5F5F5;
  margin: 0 30px;
  padding: 100px 0;
  border-top: 1px dotted #000;
}

.techs__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techs-focus {
  margin: 24px 0 26px;
}

.techs__list {
  /* background-color: #fd0; */
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
}

.techs__item {
  background-color: #E8E8E8;
  border-radius: 10px;
  padding: 20px 14px;
  min-width: 90px;
  text-align: center;
  /* display: block; */
}
