.techs {
  background-color: #F5F5F5;
  padding: 100px 70px;
}

.techs__content {
  padding: 90px 0 0;
}

.techs__header {
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -2px;
  margin: 0 0 26px;
  text-align: center;
}

.techs__text {
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: -0.56px;
  max-width: 460px;
  margin: 0 auto 100px;
  text-align: center;
}

.techs__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.56px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  justify-content: center;
  gap: 10px;
}

.techs__item {
  background-color: #E8E8E8;
  border-radius: 10px;
  padding: 20px 0;
  text-align: center;
}


@media screen and (max-width: 768px) {
  .techs {
    padding: 90px 50px;
  }

  .techs__content {
    padding: 80px 0 0;
  }

  .techs__header {
    margin: 0 0 22px;
  }

  .techs__text {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -0.48px;
    margin-bottom: 83px;
  }

  .techs__list {
    font-size: 12px;
    letter-spacing: -0.48px;
    grid-template-columns: repeat(auto-fit, 84px);
  }
}

@media screen and (max-width: 425px) {
  .techs {
    background-color: transparent;
    padding: 70px 18px;
  }

  .techs__content {
    padding: 60px 0 0;
  }

  .techs__header {
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1.2px;
    margin: 0 0 24px;
  }

  .techs__text {
    font-size: 11px;
    line-height: 1.45;
    letter-spacing: -0.44px;
    margin-bottom: 50px;
  }

  .techs__list {
    grid-template-columns: repeat(2, 84px);
  }
}
