@import url("./vendor/normalize.css");
@import url("./vendor/fonts/inter.css");

/* Плавная прокрутка страницы только для пользователей,
у которых не отключена анимация на уровне системы */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.page {
  background-color: #FAFAFA;
  color: #000;
  font-family: 'Inter', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  /* min-width: 320px; */
  max-width: 1280px;
  margin: 0 auto;
  height: 100vh;
  /* box-shadow: 0 0 20px #e5e5e5; */
  /* box-shadow: 0 0 5px #ccc; */
}

.main-wrapper {
  /* min-width: 320px;
  max-width: 1280px;
  margin: 0 auto; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 100%;
}

.link {
  color: #000;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.1s linear 0s;
}

.link:hover {
  opacity: 0.70;
}

.button {
  border: none;
  border-radius: 3px;
  background-color: #3456F3;
  opacity: 1;
  transition: opacity 0.1s linear 0s,  background-color 0.1s linear 0s;
  padding: 0;
}

.button:hover {
  opacity: 0.80;
  cursor: pointer;
}

.button:active {
  background-color:#E8E8E8;
}

.button:disabled {
  background-color:#E8E8E8;
  color: #ccc;
  pointer-events: none;
}

.button_hidden {
  visibility: hidden;
  opacity: 0;
}


@media screen and (max-width: 768px) {
  .page {
    background-color: #ffd5d5;
  }
}

@media screen and (max-width: 425px) {
  .page {
    background-color: #d5ffea;
  }
}

@media screen and (max-width: 321px) {
  .page {
    background-color: #f00;
  }
}


/*

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 425px) {
}

*/
